# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
ENV/
env/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# Environment variables
.env
.env.*

# MacOS
.DS_Store

# Logs
*.log

# Other
*.sqlite3 